body {
  margin: 0px;
  padding: 0px;
}
.footer-container {
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333333;
}
.fixed-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  color: #ffffff;
  font-size: 1.5em;
}
.fixed-footer span {
  order: 1;
}
.footer-link-left {
  order: 2;
  color: #ffffff; /* Añadir color a "Legal Warning" */
}
.footer-link-right {
  order: 3;
}
.footer-link-right a {
  color: #ffffff;
  margin-left: 10px;
}
.footer-link-right a:hover {
  color: #0000ff;
}
@media (max-width: 425px) {
  .footer-container {
    height: auto;
  }
  .fixed-footer {
    flex-direction: column;
    font-size: 1em;
    padding: 10px 0;
  }
  .footer-link-right a {
    font-size: 0.8em;
    margin-right: 5px;
    margin-left: 0;
  }
}
